.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    img {
        width: 40%;
    }

    p {
        font-size: 20px;
        color: #fff;
        opacity: 1;
        font-family: Contrail;
    }

    a {
        background-color: #fff;
        color: #6c4177;
        font-family: Dand;
        padding: 10px;
        width: auto;
        border-radius: 10px;
        font-size: 40px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all .3s ease;
        text-decoration: none;
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}
