.app__footer {
    background-color: #fff;
    color: #000;
    border-top: 4px solid #6c4177;

    .flex-sections {
        padding: 50px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;

        .logo-section {
            font-family: Mea;
            font-size: 60px;
            color: #6c4177;
        }

        .contact-section {
            font-family: Contrail;
            color: #6c4177;

            @media screen and (max-width: 900px) {
                width: 100%;

                text-align: center;

                hr {
                    margin: auto;
                }
            }

            h2 {
                font-size: 30px;
            }

            hr {
                border: 1px solid #6c4177;
                margin-bottom: 10px;

                @media screen and (max-width: 900px) {
                    width: 50%;
                }
            }

            ul {
                list-style: none;
            }
        }

        .newsletter-section {
            font-family: Contrail;
            color: #6c4177;
            @media screen and (max-width: 900px) {
                width: 100%;

                text-align: center;

                hr {
                    margin: auto;
                }
            }

            h2 {
                font-size: 30px;
            }

            hr {
                border: 1px solid #6c4177;
                margin-bottom: 10px;
                width: 150px;
            }

            .newslette-input-cont {
                @media screen and (max-width: 900px) {
                    padding: 20px;
                    .email-contianer {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    }
                }

                input {
                    width: 250px;
                    height: 40px;
                    background-color: #cfb1d7;
                    color: #6c4177;
                    border: none;
                    padding: 5px;
                }

                button {
                    background-color: #6c4177;
                    color: #fff;
                    height: 50px;
                    width: 150px;
                    border: none;
                    cursor: pointer;
                    font-family: Contrail;
                    font-size: 16px;
                    transition: all .3s ease;

                    &:hover {
                        transform: translateY(-10px);
                    }
                }

                .accept-check {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 10px;

                    input {
                        width: 20px;
                        margin-right: 20px;
                    }

                    h4 {
                    }
                }
            }
        }
    }

    .under-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #6c4177;
        color: #fff;
        padding: 30px;
        font-family: Contrail;

        .made-by {
            font-size: 20px;
            opacity: 0.7;

            span {
                a {
                    color: #ffe662;
                    text-decoration: none;
                }
            }
        }

        .social-media {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 20px;

            .cycle-media {
                width: 40px;
                height: 40px;
                background-color: #fff4;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
