.contact_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #6c4177;
    padding: 20px;
    font-family: "Cairo", sans-serif;

    @media screen and (max-width: 900px) {
        div:nth-child(2) {
            display: none;
        }
    }
}

.app__navbar {
    width: 100%;
    padding: 30px 0px;
    background-color: #e4e4e4;
    position: relative;

    @media screen and (max-width: 900px) {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 20px;

        img {
            width: 100px;
        }

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            li {
                list-style: none;
                color: #000;
                padding: 0px 40px;
                font-size: 28px;
                height: 45px;

                a {
                    color: #000;
                    transition: all 0.3s ease;
                    text-decoration: none;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    &:hover {
                        color: #6c4177;
                        transform: scale(0.98);
                        -webkit-transform: scale(0.98);
                        -moz-transform: scale(0.98);
                        -ms-transform: scale(0.98);
                        -o-transform: scale(0.98);
                    }
                }
            }

            .border_right {
                border-right: 2px solid #000;
            }

            .active {
                a {
                    color: #6c4177 !important;
                }
            }
        }
    }
}

.small__navbar {
    width: 100%;
    padding: 30px 0px;
    background-color: #e4e4e4;
    position: relative;

    @media screen and (min-width: 900px) {
        display: none;
    }

    aside {
        display: none;
        position: fixed;
        width: 60%;
        right: 0;
        top: 0;
        height: 100dvh;
        background-color: #6c4177;
        z-index: 99;
        padding: 10px;

        header {
            svg {
                float: right;
                fill: #fff;
            }
        }

        section {
            height: 100dvh;
            ul {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                height: 100%;
                gap: 30px;
                width: 100%;


                li {
                    list-style: none;
                    font-size: 30px;
                    width: 100%;

                    a {
                        color: #fff;
                        border-bottom: 2px solid #fff;
                        padding: 20px;
                        width: 100%;
                        margin-bottom: 20px;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .active {
        display: block !important;
    }

    .segmer {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 20px;

        img {
            width: 100px;
        }

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            svg {
                color: #000;
                font-size: 50px;
                cursor: pointer;
            }
        }
    }
}
